
input[type="text"], input[type="date"], input[type="email"], input[type="tel"]{ 
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
  input[type="button"] {
      width: 100%;
      background-color: #40453e;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a849;
  }

  h1 {
    font-size: 36px;
    text-align: center;
  }
  